In [2]:
import matplotlib.pyplot as plt, seaborn as sns, sklearn
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv(r'C:\Users\HP\Downloads\groupbyExcercise - groupbyExcercise.csv')
df

    Unnamed: 0        Date Product  Revenue  Quantity
0            0  2023-01-01       A      221         3
1            1  2023-01-01       B      111         8
2            2  2023-01-02       B      171        11
3            3  2023-01-02       A      141        15
4            4  2023-02-01       A       75         4
5            5  2023-02-01       B       90        12
6            6  2023-02-02       A       96        17
7            7  2023-02-02       B      170        10
8            8  2023-03-01       B      200        19
9            9  2023-03-01       A      120        10
10          10  2023-03-02       A      121        12
11          11  2023-03-02       B      150         5

In [7]:
df.columns

Index(['Unnamed: 0', 'Date', 'Product', 'Revenue', 'Quantity'], dtype='object')

1.Arrange DataFrame df, focusing on distinct product categories. Explore the data to reveal:

* Overall revenue insights
* Average revenue patterns
* Peak quantity sold observations
* Minimum quantity sold occurrences

In [8]:
df.groupby(['Product'])['Revenue'].sum()

Product
A    774
B    892
Name: Revenue, dtype: int64

In [9]:
df.groupby(['Product'])['Revenue'].mean()

Product
A    129.000000
B    148.666667
Name: Revenue, dtype: float64

In [13]:
df.groupby(['Product'])['Quantity'].()

SyntaxError: invalid syntax (1319260632.py, line 1)

In [12]:
df.groupby(['Product'])['Quantity'].min()

Product
A    3
B    5
Name: Quantity, dtype: int64

#### 2.Aggregate DataFrame df by extracting the month and year from the 'Date' column. Calculate the collective revenue for each unique combination of month and year.

In [14]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df[['Date','Month','Year']]

         Date  Month  Year
0  2023-01-01      1  2023
1  2023-01-01      1  2023
2  2023-01-02      1  2023
3  2023-01-02      1  2023
4  2023-02-01      2  2023
5  2023-02-01      2  2023
6  2023-02-02      2  2023
7  2023-02-02      2  2023
8  2023-03-01      3  2023
9  2023-03-01      3  2023
10 2023-03-02      3  2023
11 2023-03-02      3  2023

In [15]:
df.groupby(['Month', 'Year'])['Revenue'].sum()

Month  Year
1      2023    644
2      2023    431
3      2023    591
Name: Revenue, dtype: int64

##### 3.Group the DataFrame df by the 'Date' column and find the date with the highest total revenue and the date with the highest total quantity sold.

In [16]:
df.groupby(['Date'])[['Revenue', 'Quantity']].sum()

            Revenue  Quantity
Date
2023-01-01      332        11
2023-01-02      312        26
2023-02-01      165        16
2023-02-02      266        27
2023-03-01      320        29
2023-03-02      271        17

##### 4.Group the DataFrame df by the Dateand find products that have a total quantity sold greater than 10 and less than 15 .

In [17]:
x = df.groupby(['Date', 'Product'])['Quantity'].sum().reset_index()
y = x[(x['Quantity'] > 10) & (x['Quantity'] < 15)]
print(y)

         Date Product  Quantity
3  2023-01-02       B        11
5  2023-02-01       B        12
10 2023-03-02       A        12

##### 5.Group the DataFrame df by the 'Product' column andadd a new column 'Revenue Percentage' that shows the percentage of each product's revenue relative to the total revenue for that product.

In [18]:
x = df.groupby('Product')['Revenue'].sum()
y = x / x.sum() * 100
df['Revenue Percentage'] = df['Product'].map(y)
print(df)

    Unnamed: 0       Date Product  Revenue  Quantity  Month  Year  \
0            0 2023-01-01       A      221         3      1  2023
1            1 2023-01-01       B      111         8      1  2023
2            2 2023-01-02       B      171        11      1  2023
3            3 2023-01-02       A      141        15      1  2023
4            4 2023-02-01       A       75         4      2  2023
5            5 2023-02-01       B       90        12      2  2023
6            6 2023-02-02       A       96        17      2  2023
7            7 2023-02-02       B      170        10      2  2023
8            8 2023-03-01       B      200        19      3  2023
9            9 2023-03-01       A      120        10      3  2023
10          10 2023-03-02       A      121        12      3  2023
11          11 2023-03-02       B      150         5      3  2023

    Revenue Percentage
0            46.458583
1            53.541417
2            53.541417
3            46.458583
4            46.458583
5            53.541417
6            46.458583
7            53.541417
8            53.541417
9            46.458583
10           46.458583
11           53.541417